.wrap {
	perspective: 800px;
	perspective-origin: 50% 100px;
	margin-left: 300px;
	text-shadow: 2px black;
}
.cube {
	position: relative;
	width: 250px;
	transform-style: preserve-3d;
	-moz-transform: rotateY(30deg);
	-webkit-transform: rotateY(30deg);
	-o-transform: rotateY(30deg);
	margin-top: 75px;
}
.cube div {
	position: absolute;
	width: 250px;
	height: 250px;
}
.back {
	transform: translateZ(-125px) rotateY(180deg);
	border: 1px solid black;
}
.right {
	transform: rotateY(-270deg) translateX(125px);
	transform-origin: top right;
	border: 1px solid black;
	background-color: red;
	box-shadow: inset 0px 0px 100px white;
}
.left {
	transform: rotateY(270deg) translateX(-125px);
	transform-origin: center left;
	border: 1px solid black;
	background-color: green;
	box-shadow: inset 0px 0px 100px white;
}
.top {
	transform: rotateX(-90deg) translateY(-125px);
	transform-origin: top center;
	border: 1px solid black;
	background-color: blue;
	box-shadow: inset 0px 0px 100px white;
}
.bottom {
	transform: rotateX(90deg) translateY(125px);
	transform-origin: bottom center;
	border: 1px solid black;
	background-color: blue;
	box-shadow: inset 0px 0px 100px white;
}
.front {
	transform: translateZ(125px);
	border: 1px solid black;
	background-color: black;
	box-shadow: inset 0px 0px 100px white;
}
html{
	background-color: tan;
}
#skunk{
	margin-left: 75px;
}

@keyframes spin {
	from { transform: rotateY(30); }
	to { transform: rotateY(390deg); }
}

.cube {
	animation: spin 12s 1 linear;
}
.cube:hover{
	animation: none;
}
