.container-fluid {
	background-color: green;
	}
	
.modal-header {
	background-color: blue;
	color: black;
	}
	
.modal-body {
	color: black;
	}
	
h1, h3 {
	font-weight: bold;
	color: black;
}

.card-deck {
	margin-top: 3em;
	margin-left: 7.5em;
	margin-bottom: 3em;
}

.category {
	margin-top: 3em;
	margin-bottom: 3em;
	margin-left: 6.5em;
	border: 3px solid black;
	background-color: red;
	border-radius: 25em;
}

img {
	display: block;
    margin: auto;
}

.score {
	margin-top: 3em;
	border: 3px solid black;
	border-radius: 10em;
}