html{
	background-color: tan;
}

#new{
	font-size: .688em;
}
#new:hover{
	font-size: .875em;
}
#login{
	margin-right: 23.438em;
	margin-left: 23.438em;
	margin-top: 4em;/*17.813em;*/
	padding-left: 23px;
	padding-top: 15px;
}
.element{
	padding-left: 2.188em;
}
#element{
	padding-left: 1.563em;
}
.left{
	float: left;
}
ul li{
	list-style-type: none;
}
#loginButton{
	/*padding-left: 6.25em;*/  /*This WAS needed for the new account link plus button in html that is not being used now.*/
	padding-left: 8em;
	padding-bottom: 10px;
}
#options{
	margin-left: 10.938em;/*175px 10.938*/
	margin-right: 23.438em;/*375px*/
	margin-top: 12.5em;
	border: 2px solid black;
	box-shadow: 2px 2px 2px black;
	height: 37.5em;
	background-color: #B18C5B;
	width: 750px;
}
#flip{
	transform:scale(-1,1);
    -webkit-transform:scale(-1,1);
    -moz-transform:scale(-1,1);
    -o-transform:scale(-1,1)
}
#difficulty{
	margin-left: 50px;
	margin-right: 500px;
	width: 300px;
}
.stuff{
	text-align: center;
}

.well{
	font-size: 24px;
}
#ts{
	text-shadow: 2px black;
}
#owlGIF{
	width: 1500px;
	height: 846px;
}
#move2{
	margin-left: 1px;
}
#move{
	margin-left: 19px;
}
#startGame{
	margin-top: 10px;
	margin-left: 300px;
	width: 100px;
}
p.triangle-border{
	font-size: 14px;
}
.triangle-border{
	position: relative;
	padding: 15px;
	margin: 1em 0 3em;
	border: 5px solid #5a8f00;
	color: #333;
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 200px;
	margin-right: 225px;
}
.triangle-border:before{
	content: "";
    position: absolute;
    bottom: -20px;
    left: 40px;
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: #5a8f00 transparent;
    display: block;
    width: 0;
}
.triangle-border:after{
	content: "";
    position: absolute;
    bottom: -13px;
    left: 47px;
    border-width: 13px 13px 0;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}

